/*Navbar*/

/*Navbar Collapse*/
.navbar-collapse {
	position: relative;
}

/*Navbar Collapse*/
@media (max-width: 991px) {
  	.navbar-collapse,
	.navbar-collapse .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/*Navbar Menu*/
.navbar-nav > li > a {
	color: rgb(255, 255, 255);
	font-size: 13px;
	font-weight:400;
	font-family: "Open Sans";
	text-transform: uppercase;
}

.navbar-nav ul{
	display: none;
}
.navbar-nav li:hover ul{

	display: flex;
	height: 134px; 
	width: 130px;
	background-color: rgb(232, 100, 90);
}
.navbar-nav li:focus ul{

	display: flex;
	height: 134px; 
	width: 130px;
	background-color: rgb(232, 100, 90);
}
@media (min-width: 992px) {
	 .navbar-nav {
		float: right;
	}
}

/*--------------------------------------------------
    [3. Header - Responsive Navbar Style]
----------------------------------------------------*/

/*Responsive Navbar*/
@media (max-width: 991px) {
	/*Responsive code for max-width: 991px*/
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
  		overflow-y: auto !important;
    }

    .navbar-nav {
        margin: 0 0 5px;
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    /*Pull Right*/
    .dropdown-menu.pull-right {
		float: none !important;
	}

	/*Dropdown Menu Slide Down Effect*/
	.navbar-nav .open .dropdown-menu {
		border: 0;
		float: none;
		width: auto;
		margin-top: 0;
		position: static;
		box-shadow: none;
		background-color: transparent;
	}

.navbar-nav .open > a,
.navbar-nav .open > a:hover,
.navbar-nav .open > a:focus {
		border-bottom-color: rgb(232, 100, 90);
	}

	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 10px 5px 10px;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 10px;
	}

	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		background-image: none;
	}

	.navbar-nav .open .dropdown-menu > li > a {
		color: rgba(232, 100, 90, 0.7);
	}

	.navbar-nav .open .dropdown-menu > li > a:hover,
	.navbar-nav .open .dropdown-menu > li > a:focus {
		color: #333;
		background-color: transparent;
	}

	.navbar-nav .open .dropdown-menu > .active > a,
	.navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #555;
		background-color: #e7e7e7;
	}

	.navbar-nav .open .dropdown-menu > .disabled > a,
	.navbar-nav .open .dropdown-menu > .disabled > a:hover,
	.navbar-nav .open .dropdown-menu > .disabled > a:focus {
		color: #ccc;
		background-color: transparent;
	}

	.dropdown-menu.no-bottom-space {
		padding-bottom: 0;
	}

	/*Design for max-width: 991px*/
	.navbar-nav > li > a {
		font-size: 14px;
		padding: 9px 10px;
	}

	.navbar-nav > li a {
		border-bottom: solid 1px #eee;
	}

	 .navbar-nav > li > a:focus {
		background: none;
	}

	 .navbar-nav > li > a:hover {
		color: #72c02c;
	}

	 .navbar-nav > .active > a,
	 .navbar-nav > .active > a:hover,
	 .navbar-nav > .active > a:focus {
		color: #fff !important;
	}

	 .dropdown .dropdown-submenu > a {
		font-size: 13px;
		color: #555 !important;
		text-transform: uppercase;
	}
}

@media (min-width: 992px) {
	/*Navbar Collapse*/
	.navbar-collapse {
		padding: 0;
	}

	/*Navbar*/
	 .container > .navbar-header,
	 .container-fluid > .navbar-header,
	 .container > .navbar-collapse,
	 .container-fluid > .navbar-collapse {
		margin-bottom: -10px;
	}

	 .navbar-nav {
		position: relative;
	}

	 .navbar-nav > li > a {
		bottom: -2px;
		position: relative;
		padding: 9px 30px 9px 20px;
	}

	 .navbar-nav > li > a,
	 .navbar-nav > li > a:focus {
		border-bottom: solid 2px transparent;
	}

	 .navbar-nav > li > a:hover,
	 .navbar-nav > .active > a {
		bottom: -2px;
		position: relative;
		border-bottom: solid 2px #72c02c;
	}

	 .navbar-nav > li > a,
	 .navbar-nav > li > a:hover,
	 .navbar-nav > li > a:focus,
	 .navbar-nav > .active > a,
	 .navbar-nav > .active > a:hover,
	 .navbar-nav > .active > a:focus {
		background: none;
	}

	 .navbar-nav > .open > a,
	 .navbar-nav > .open > a:hover,
	 .navbar-nav > .open > a:focus {
		color: #72c02c;
	}

	 .navbar-nav > li:hover > a {
        color: #72c02c;
    }

	/*Dropdown Menu*/
	 .dropdown-menu {
		padding: 0;
		border: none;
		min-width: 200px;
		border-radius: 0;
		z-index: 9999 !important;
		border-top: solid 2px #72c02c;
		border-bottom: solid 2px #687074;
	}

	 .dropdown-menu li a {
		color: #687074;
		font-size: 13px;
		font-weight: 400;
		padding: 6px 15px;
		border-bottom: solid 1px #eee;
	}

	 .dropdown-menu .active > a,
	 .dropdown-menu li > a:hover {
		color: #687074;
		filter: none !important;
		background: #eee !important;
		-webkit-transition: all 0.1s ease-in-out;
		-moz-transition: all 0.1s ease-in-out;
		-o-transition: all 0.1s ease-in-out;
		transition: all 0.1s ease-in-out;
	}

	 .dropdown-menu li > a:focus {
		background: none;
		filter: none !important;
	}

	 .navbar-nav > li.dropdown:hover > .dropdown-menu {
		display: block;
	}

	 .open > .dropdown-menu {
		display: none;
	}

	/*Search*/
	 .navbar-nav .search-open {
		width: 330px;
	}
}

/*--------------------------------------------------
    [4. Header - Submenu]
----------------------------------------------------*/

/*Dropdown Submenu for BS3
------------------------------------*/
 .dropdown-submenu {
   position: relative;
}

 .dropdown > a:after,
 .dropdown-submenu > a:after {
    top: 8px;
    right: 9px;
    font-size: 11px;
    content: "\f105";
    position: absolute;
    font-weight: normal;
    display: inline-block;
    font-family: FontAwesome;
}

@media (max-width: 991px) {
  	 .dropdown-submenu > a:after {
      	content: " ";
  	}
}

 .dropdown > a:after {
    top: 9px;
    right: 15px;
    content: "\f107";
}

 .dropdown-submenu > .dropdown-menu {
	top: 3px;
	left: 100%;
	margin-top: -5px;
	margin-left: 0px;
}

/*Submenu comes from LEFT side*/
 .dropdown-submenu > .dropdown-menu.submenu-left {
	left: auto !important;
  right: 100%;
}

 .dropdown-submenu:hover > .dropdown-menu {
   	display: block;
}

@media (max-width: 991px) {
	 .dropdown-submenu > .dropdown-menu {
		display: block;
		margin-left: 15px;
	}
}

 .dropdown-submenu.pull-left {
	float: none;
}

 .dropdown-submenu.pull-left > .dropdown-menu {
	left: -100%;
	margin-left: 10px;
}

/*Dropdow Mmenu Icons (Font Awesome)*/
 .dropdown-menu li [class^="fa-"],
 .dropdown-menu li [class*=" fa-"] {
	left: -3px;
	width: 1.25em;
	margin-right: 1px;
	position: relative;
	text-align: center;
	display: inline-block;
}
 .dropdown-menu li [class^="fa-"].fa-lg,
 .dropdown-menu li [class*=" fa-"].fa-lg {
	/* increased font size for fa-lg */
	width: 1.5625em;
}


/*--------------------------------------------------
    [5. Header - Search]
----------------------------------------------------*/

/*Search Box
------------------------------------*/
 .nav > li > .search {
	color: #fff;
	cursor: pointer;
	min-width: 35px;
	font-size: 15px;
	text-align: center;
	padding: 11px 0 12px;
	display: inline-block;
	border-bottom: solid 2px #aaa;
}

@media (min-width: 992px) {
	 .nav > li > .search {
		bottom: -2px;
		position: relative;
	}
}

 .nav > li > .search:hover {
	color: rgb(255, 255, 255);
	background: rgb(232, 100, 90);
	
}

 .nav .search-open {
	right: 0;
	top: 40px;
	display: none;
	padding: 14px;
	position: absolute;
	background: #fcfcfc;
	border-top: solid 2px #eee;
	box-shadow: 0 1px 3px #ddd;
}

 .nav .search-open form {
	margin: 0;
}

@media (min-width: 767px) and (max-width: 991px) {
	 .navbar-toggle {
		margin-right: 0;
	}

	 .nav .search-open {
		width: 93%;
	}
}

@media (max-width: 991px) {
	 .nav > li > .search {
		color: #999;
		width: 35px;
		height: 34px;
		text-align: left;
		background: #eee;
		line-height: 12px;
		text-align: center;
		margin: 5px 10px 0;
		border-bottom: none;
	}

	 .nav > li > .search:hover {
		background: #5fb611;
		color: #fff !important;
	}

	 .nav .search-open {
		top: 5px;
		padding: 0;
		left: 48px;
		border-top: none;
		box-shadow: none;
		background: none;
		margin-right: 10px;
	}
}

